* text=auto !eol
/.cproject -text
/.project -text
.settings/org.eclipse.core.runtime.prefs -text
/COPYRIGHT -text
/Makefile -text
/README -text
/SConscript -text
/WHATSNEW -text
bin/.cvsignore -text
include/cclass.h -text
include/cname.h -text
include/debug.ih -text
include/engine.ih -text
include/main.ih -text
include/regcomp.ih -text
include/regerror.ih -text
include/regex.h -text
include/regex2.h -text
include/utils.h -text
lib/.cvsignore -text
obj/.cvsignore -text
/regex.3 -text
/regex.7 -text
src/debug.c -text
src/engine.c -text
src/main.c -text
src/mkh -text
src/regcomp.c -text
src/regerror.c -text
src/regexec.c -text
src/regfree.c -text
src/split.c -text
test/tests -text
